extends ../booster-template

block append js
  if !order.isDone
    include ../../../includes/chat-js

block booster-content

  if order
    .container.container-paper
      if order.requiresApproval
        .alert.alert-warning This order is awaiting approval from the admins.
      .row
        .col-sm-7
          div
            | Order 
            code #{order.confirmationNumber.toUpperCase()}
            |  - 
            span= moment(order.created_on).tz(moment.tz.guess()).format('LL')

          h1(style="margin-top:10px;")= order.name
          .label.label-success
            | $
            +calculateCashout(order.price)
            |  USD
          |  
          .label.label-as-badge(style="background:"+order.getType().color)= order.getType().name
          |  
          .label.label-as-badge(style="background:"+order.getQueue().color)= order.getQueue().name
          |  
          .label.label-as-badge(style="background:"+order.getServer().color)= order.getServer().name

          if order.roles || order.champions || order.specialRequirements
            hr
            h3 Order details
            table.table
              if order.roles
                tr(style="text-transform: capitalize;")
                  td Roles
                  td
                    div
                      b Primary
                      |: 
                      = order.roles["primary"]
                    //-div
                    //-  b Secondary
                    //-  |: 
                    //-  = order.roles["secondary"]
              if order.champions
                tr(style="text-transform: capitalize;")
                  td Champions
                  td
                    div
                      b= order.roles["primary"]
                      |: 
                      = order.champions[order.roles["primary"]].join(", ")
                    //-div
                	  //-  b= order.roles["secondary"]
                    //-  |: 
                    //-  = order.champions[order.roles["secondary"]].join(", ")
              if order.specialRequirements
                tr
                  td Special requirements
                  td= order.specialRequirements

          hr

          div
            h3 Player information
            p
              strong League of Legends
          
          if !order.isInThePool
            - var hasInformation = false;

            table.table
              // TODO: fix the root cause of this "null" thing
              if order.getType().prefix == "solo" && order.lolUsername && order.lolUsername != "null" && order.lolUsername != ""
                tr
                  td Username
                  td
                    code= order.lolUsername
                    - hasInformation = true;
              // TODO: fix the root cause of this "null" thing
              if order.getType().prefix == "solo" && order.lolPassword && order.lolPassword != "null" && order.lolPassword != ""
                tr
                  td Password
                  td
                    code= order.lolPassword
                    - hasInformation = true;
              if order.lolIgn
                tr
                  td IGN
                  td
                    code= order.lolIgn
                    - hasInformation = true;

              if !hasInformation
                p No data available.

          else
            div(style="padding:25px; border:1px solid #eee;").text-center
              img(style="width:20px;" src="/img/icons/lock-dark.svg")
              h3 Player information locked
              p.small You must be the assigned booster to see this.

          hr

          if !order.isDone
            div
              if !order.booster
                form(method="post" style="display:inline-block; margin-right:10px; margin-bottom:15px;")
                  input(type="hidden" name="_csrf" value=_csrf)
                  input(type="hidden" name="action" value="assign")
                  input(type="hidden" name="booster" value=user._id)
                  button.btn.btn-primary Assign to me
              //-
                if !order.isInThePool
                  form(method="post" style="display:inline-block; margin-right:10px; margin-bottom:15px;")
                    input(type="hidden" name="_csrf" value=_csrf)
                    input(type="hidden" name="action" value="pool")
                    button.btn.btn-sm.btn-primary Make available to all boosters
              if order.booster && !order.isDone && !order.isInThePool && !order.requiresApproval
                form(method="post" style="display:inline-block; margin-right:10px; margin-bottom:15px;")
                  input(type="hidden" name="_csrf" value=_csrf)
                  input(type="hidden" name="action" value="sendVerification")
                  button.btn.btn-success Mark as done ✔
            
          else
              b No possible action for this order.

        .col-sm-5
          if !order.isInThePool
            div(style="margin-top:25px;")
              include ../../../includes/chat-markup
              +livechat("Conversation with player")
          else
            div(style="padding:25px; border:1px solid #eee;").text-center
              img(style="width:20px;" src="/img/icons/lock-dark.svg")
              h3 Live chat widget locked
              p.small You must be the assigned booster to chat with the player.